<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.test.mytestdemo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 读取通讯录，短信，通讯记录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--7.0以上兼容Intent打开系统应用 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <!-- 全面屏手机-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <!-- 渠道配置-->
        <meta-data
            android:name="CHANNEL_NAME_TEST"
            android:value="${CHANNEL_NAME}"/>
        <meta-data
            android:name="CHANNEL_VALUE_TEST"
            android:value="${CHANNEL_VALUE}"/>

        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppThemeBackgroundTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PermissionsActivity">
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity
            android:name=".activity.SpannableStringActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".notifications.NotificationMainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".notifications.ProgressAcitivty"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".notifications.CustomActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.HorizontalScrollViewActivity"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name=".broadcast.BroadcastActivity">
        </activity>
        <activity android:name=".activity.XListViewActivity"/>
        <activity android:name=".activity.AddPhotoActivity"/>

        <receiver
            android:name=".broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- 静态注册广播 -->
            <!-- intent过滤器,指定可以匹配哪些intent, 一般需要定义action 可以是自定义的也可是系统的 -->
            <intent-filter>

                <!-- action -->
                <action android:name="com.broadcast.test"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".aidl.AdditionService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <activity android:name=".aidl.HelloSumAidlActivity">
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".service.MyIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".service.MyService2"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".webview.WebViewTestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:label=""
            android:process=":web"/>
        <activity android:name=".activity.SwipeBackActivity">
        </activity>
        <activity android:name=".ui.recyclerview.StaggeredGridLayoutActivity"/>
        <activity android:name=".service.ServiceTestActivity"/>
        <activity
            android:name=".activity.intent.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity android:name=".activity.ContentProvideActivity"/>
        <activity android:name=".socket.SocketActivity">
        </activity>
        <activity android:name=".activity.EventBusTestActivity">
        </activity>
        <activity android:name=".activity.intent.ScrollingActivity">
        </activity>
    </application>

</manifest>